*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
  justify-content: space-between;
}

.nav h1{
  margin-left: 10px;
  color: red;
}

.ricerca{
  margin-right: 10px;
}


#eventoCerca{
  padding: 4px 10px;
  background-color: red;
  border-color: red;
  font-weight: bold;
}

#salvaInput{
  padding: 4px 10px;
  font-weight: bold;
}

#salvaInput:hover{
  border-color: red;
}

#eventoCerca:hover{
  background-color: darkred;
  border-color: darkred;
}

.containerOutput{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  align-items: stretch;
}

.coverContainer{
margin: 10px;
}

.coverContainer span{
  height: auto;
  background-color: black;
  display: block;
  color: white;
  width: 280px;
  height: auto;
  line-height: 20px;
  text-align: center;
}

.flagresize{
  height: 20px;
  width: auto;
}

.image{
  display: block;
 width: 100%;
 height: auto;
}
